/*our default fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* common styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Jura',sans-serif;  
}
html{
    font-size: 62.5%;
}
.mouse_circle,
.mouse_dot{
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*End common styles */

/* mouse circle */
.mouse_circle{
  width:6rem;
  height:6rem;
  border: 0.1rem solid #c7a622;
  animation: mouseCircleAnimations 10s infinite linear;
}
/* end of mouse circle */

/* mouse dot  */
.mouse_dot{
  width:0.5rem ;
  height:0.5rem ;
  background-color: #9b0e0e;
  position: fixed;
  animation: mouseDotAnimations 10s infinite linear;
}
/* end of mouse dot  */
/* these keyframes are to increase the size of the mouse during animation */
@keyframes mouseCircleAnimations{
  0%{
    width: 6rem;
    height: 6rem;
  }
  25%{
    width: 8rem;
    height: 8rem;
  }
  35%{
    width: 4rem;
    height: 4rem;
  }
  70%{
    width: 8rem;
    height: 8rem;
  }
  100%{
    width: 6rem;
    height: 6rem;
  }
}

/* these keyframes are to increase the size of the mouse during animation */
@keyframes mouseDotAnimations{
  0%{
    width:.5rem;
    height:.5rem ;
  }
  55%{
    width:1.5rem;
    height:1.5rem ;
  }
  100%{
    width:.5rem;
    height:.5rem ;
  }
}




/*page background*/
.page-bg{
    position:fixed;
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(images/bg.jpg)center no-repeat;
    background-size: cover;
}
/*end of page background*/

/* section_one */
.section_one{
  position:relative;
  width: 100%;
  height:100vh;
}
/* logo */
.logo{
  position:absolute; 
  top:2rem;
  left:5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
/* end of logo */

/* animated circles */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);

}

.circle{
  width: 15rem;
  height:15rem;
  border-radius: 50%;
  background-color:white;
  align-self: center;
  justify-self: center;

}

.circle_one{
  background: url(images/landing/javascript.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: .7rem double #fff;}
.circle_two{
  background: url(images/landing/java.png) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: .7rem double #fff;
}
.circle_three{
  background: url(images/landing/python.png) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: .7rem double #fff;;
}
.circle_four{
  background: url(images/landing/php.png) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: .7rem double #fff;
}
.main_circle{
  width:35rem;
  height:35rem;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}
.main_circle img{
  width:40rem;
  height:40rem;
  /* mix-blend-mode: color-dodge; */
}
/* end of animated circles */
/* featured texts */
.featured_text{
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  width: 0;
  word-wrap: break-word;
  line-height: 2.5;
  position: sticky;
  top:0;
}
.featured_text_one{
  margin: 0 auto 0 10rem;
}
.featured_text_two{
  margin: 0 10rem 0 auto;
}
/* end of featured texts */
/* end of section_one */